.slider_div {
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
     /* padding-right: 2rem;  */
    box-sizing: border-box;   
    scroll-padding: 0.5rem; /* Adjust the padding as needed to completely hide partially visible items */
    box-sizing: border-box;
}

.card_item {
    flex: 0 0 auto;
    /* Maintain the initial size; do not grow or shrink */
    height: 16rem;
    margin: 0.2rem 1rem;
    padding: 0.2rem;
    scroll-snap-align: start;
}

.product_img_div {
    height: 10rem;
    /* width: 15rem; */
}

.card_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}


.product_MRP {
    text-decoration: line-through;
}

.rating_div {
    display: flex;
    flex-direction: row;
}

.rating_star {
    color: #FFAD33;

    /* background-color: #FFAD33; */
}

.product_star_count {
    margin-top: -5px;
    margin-left: 5px;
}