@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.main_div{
    display: flex;
    flex-direction: row;
}

.left_div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:solid red; */
    /* flex-direction: column; */
    /* width: 100%; */
}